<div class="note-index">

  <div class="row" style="margin:0px;">

    <div class="col-lg-9" >

      <%= render 'note' %>

    <div class="pagenation_bottom">
     <%= paginate @notes %>
    </div>

    </div>

    <div class="col-lg-3" >

      <%= render 'sidebar' %>

    </div>

  </div>

</div>

