
<div id="map" style="width: 100%; height: 600px;"></div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(5);
    handler.map.centerOn({lat:48.137393, lng:11.575449}); 
  });
</script>
