
<div id="map" style="width: 100%; height: 600px;"></div>

    <script>
      var map;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 48.137393, lng: 11.575449},
          zoom: 5,
          
        });

        <% @notes.each do |note| %>

        (function(){
          var contentString = '<%= link_to image_tag(note.photo,{class:"infowindow-photo"}), note_path(note) %>'+
          '<br>'+
          '<strong><%= note.title %></strong'; 

          var infowindow = new google.maps.InfoWindow({
              content: contentString
          });
          
          var markerIcon = {
              url: 'https://cdn1.iconfinder.com/data/icons/flat-design-basic-set-5/24/flag-red-rally-512.png',
              scaledSize: new google.maps.Size(40, 40),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(10,45)
          }
          

          var marker = new google.maps.Marker({
              position:{lat: <%= note.latitude %>, lng: <%= note.longitude %>},
              map: map,
              icon: markerIcon,
              title: contentString,
              animation: google.maps.Animation.DROP
          });

          lastWindow=null; 

          marker.addListener('click', function() {
                if (lastWindow) lastWindow.close();
                infowindow.open(map, marker);
                lastWindow=infowindow;
            });

          })();

      <% end %>

      }

    </script>

  
