<table>
 
<tr>
 <td><%=link_to image_tag(picture,{class:"infowindow-photo"}), map_path(id) %></td>

 <td><%=link_to name, map_path(id) %></td>
 <td class='star-rating' data-score=<%= rating %>></td>
</tr>

</table>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>