<div class="maps-grid-container">

<% @maps.each do |map| %>

    <div class="maps_by_photo_sub item">
    
      <%=link_to image_tag(map.photo, {:style=>"width:100%;"}), map %>

      <div class="under_maps_by_photo">

      <li><%= link_to simple_format(map.title), map_path(map), class: "white" %>
      </li>

      </div>

      <% if user_signed_in? %>

      <div class="map_edit white">

      <li><%= link_to 'Edit', edit_map_path(map), class: "white" %> |
      <%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' }, class: "white" %>
      </li>

      </div>
      
      <% end %>
          
    </div>

  <% end %>
  
</div>