<div class="row" style="background-color:#F0F0F0;">

<div class="col-md-8">

<%= render 'show' %>

</div>

<div class="col-md-4" style="margin-top:30px;">
	
<% @random_maps.limit(3).each do |random_map| %>

<div class="side_map_show">	
<%=link_to image_tag(random_map.photo, {class:"map-photo"}), map_path(random_map) %>

<ul style="padding:5px;text-align:left;">
<li>
<%= link_to random_map.title, map_path(random_map), class:"black", :style=>"font-size:16px;" %>
</li>
<li>
竣工予定　<%= random_map.completion %>年
</li>
</ul>
</div>

<% end %>

</div>

</div>

<script>
    $('.star-rating').raty({
      half: true,
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
