@import "bootstrap-sprockets";
@import "bootstrap";

* {
	box-sizing: border-box;
}

li {
	list-style:none;
	margin:0px;
    list-style-position:none;
}

ul{
	padding:0px;
	margin:0px;
}


a {
	text-decoration:none;
	color:#666666;
	transition:0.7s;
}

a:hover {
	text-decoration:none;
	color:#FF9872;
}

.white {
	color:white;
}

.black {
	color:black;
}

body {
	background-color:#F0F0F0;
}


/* application header */

.user-login-image {
	height:70px; 
	width:70px; 
	border-radius:50%; 
	border:2px solid white;
}

.synctown {
	font-size:40px;
}

.container-fluid {
	padding:0px 25px;
}

/* note header */

.header {
	background-image: url(http://livedoor.blogimg.jp/emesi/imgs/8/9/8918dfcf.jpg);
	background-size:cover;
	width:100%;
	height:400px;
	position:relative;
}

.header::before {
	z-index:1;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.3);
}

.under-header {
    position:absolute;
    width:100%;
	color:white;
	text-align:center;
	padding-top:150px;
	z-index:2;
}

/* ckeditor codesnippet */

pre {
	padding:15px;
	border-radius:5px;
	background-color:#272822;
	overflow-x:scroll;
}


/* note new */

.note-create {
	width:90%;
	margin:0 auto;
	padding-bottom:100px;
}

/* note index */

.note-list {
	padding:20px 40px 0px 40px;
	border-bottom:1.5px dotted #808080;
	letter-spacing:3px;
	line-height:150%;
}

.note-list p {
	margin-bottom:1.5em;
}

.note-sidebar {
	padding-top:20px;
	padding-left:10px;
}

.note-sidebar li {
	padding-left:15px;
	padding-bottom:4px;
}

.note-index-photo {
	border-radius:5px; 
	width:100%; 
}

/* note show */

.note-show {
	padding:0px 30px 10px 30px;
	border-bottom:1px dotted #808080;
	letter-spacing:3px;
    line-height:150%;
}

.note-show p {
	margin-bottom:1.5em;
}

/* note_by_photo */

.notes_by_photo {
	width:50%;
	float:left;
	padding:20px 10px 20px 10px;
}

.notes_by_photo_list {
	width:33%;
	float:left;
	padding:20px 10px 20px 10px;
}

.notes_by_photo_layout {
	margin:0px 20px;

}

.notes_by_photo_sub {
	border:1px solid #808080;
	border-radius:5px;
	height:220px;
	position:relative;

}

.notes_by_photo_sub::before {
	z-index:1;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.3);
}

.notes_by_photo_sub:hover::before {
	z-index:1;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.1);
}

.under_notes_by_photo {
	position:absolute;
    width:100%;
	color:white;
	text-align:center;
	top:90px;
	left:0px;
	z-index:2;
	font-size:20px;
}

.notes_by_photo_order {
	text-align:center;
	padding-top:20px;
}

.pagenation_bottom {
	text-align:center;
	padding:0px;
	clear:left;
}

.note_time {
	position:absolute; 
	right:10px; 
	bottom:5px;
	z-index:2;
}

/* video width height ration */

.video{
width:100%;
padding-bottom: 65%;
height:0px;
position: relative;
}

.video iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* category */

.table-condensed {
	width:90%;
	margin:0 auto;
}

.category-table {
	padding-right:50px; 
	font-size:15px;
}

/* log in sign up */

.login-form {
	width:60%;
	margin:0 auto;
	padding-bottom:100px;
}

/* note sidebar */

.user_only_create {
	padding-left:15px;
}

/* user edit */

.user-edit {
	width:70%;
	margin:0 auto;
	padding-bottom:100px;
}

/* user index & show */

.user-show {
	width:100%;
	margin:0 auto;
	padding:30px;
}

.user-show li{
	padding-bottom:20px;
}

.user-image {
	width:100%; 
	border-radius:5px;
}

/* map index */

.infowindow-photo {
	width:200px;
	height:130px;
}

.map-show {
	width:80%;
	margin:0 auto;
	border:1px solid #808080;
	margin-top:30px;
	margin-bottom:30px; 
	border-radius:5px;
	position:relative;
}


/* タブレット向けレイアウト */
/* ブレイクポイントをmax-width: 1000pxに指定 */
@media(max-width:1000px){

	.note-sidebar {padding-left:20px;}

	.note-index-photo {border-radius:0px; padding:0px 5px;}

	.notes_by_photo_list {width:50%; padding:20px;}

	.article-index {width:50%; padding:20px;}

	.article-index-layout {padding:0px 30px;}

	.random-article {width:50%; padding:10px 15px;}

	.user-image {width:40%;}

	.category-table {padding-right:25px;}
	
}

/* スマートフォン向けレイアウト */
/* ブレイクポイントをmax-width: 670pxに指定 */
@media(max-width:670px){

	.header {height:200px;}

	.user-login-image {height:50px; width:50px;	border:1px solid white;}

	.synctown {font-size:25px;}

	.container-fluid {padding:0px 10px;}

	.under-header {padding-top:30px;}

	.note-list {padding:0px;}

	.note-list li {padding:0px 15px;}

	.note-index-photo {border-radius:0px;padding:0px 5px;}

	.note-show {padding:0px;}

	.note-show li {padding:0px 10px;}

	.notes_by_photo {width:100%;}

	.notes_by_photo_list {width:100%;}

	.notes_by_photo_layout {margin:0px;}

	.note-sidebar {padding-left:20px;}

	.user-image {width:100%;}

	.category-table {padding-right:10px;}

}


